[alias]
 
    # Branch LOG
    blog = log -p main..
    # Overview log
    # Only shows local branches, and upstream branches that are checked out locally
	olog = "!f() { \
	  git log --oneline --graph \
	    --decorate-refs=refs/heads \
	    --decorate-refs=refs/tags \
	    --decorate-refs=HEAD \
	    --branches \
	    $(git for-each-ref --format='%(refname:short)' refs/heads | \
	      while IFS= read -r branch; do \
	        if git show-ref --verify --quiet \"refs/remotes/origin/$branch\"; then \
	          printf '%s\\n' \"--decorate-refs=refs/remotes/origin/$branch\" \"refs/remotes/origin/$branch\"; \
	        fi; \
	      done) \
	    \"$@\"; \
	}; f"
    # above, but watched
    blogwatch = "!watch -tc git olog --color=always --decorate"
    # olog with all of upstream
    oolog = log --graph --oneline --all

    # absolutely nuke the repo and all submodules
    rinse = !git reset --hard --recurse-submodule && \
            git submodule sync --recursive && \
            git submodule update --init --force --recursive && \
            git clean -ffdx && \
            git submodule foreach --recursive git clean -ffdx
    blat = reset --hard HEAD

    # search recent commits and make fixup commit
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
    # Amend COMMIT
    acommit = commit --amend --no-edit
    # Force COMMIT
    fcommit = commit --no-verify
    # RECOMMIT, e.g. after git reset --soft to get commit message back
    recommmit = commit --reuse-message=ORIG_HEAD

    wip = commit -a -m 'wip'
    unwip = reset HEAD~

    # self explanatory
    unstage = restore --staged
    rbi = rebase -i main
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[include]
    # Get git user/email from another file, so when using these dotfiles on a work
    # system, it's easier to set up.
    path = ~/.gituser

# Lots of the justifications for these settings are from:
# https://blog.gitbutler.com/how-git-core-devs-configure-git
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        # when rebasing on a branch that's branched from another, update that branch too
        updateRefs = true
        # try to infer the point a branch forked from a branch you're rebasing onto
        fork-point = true
[pull]
        rebase = true
[init]
	defaultBranch = main
