[alias]
    # Branch LOG
    blog = log -p main..
    # Overview log
    olog = log --graph --oneline --all
    # absolutely nuke the repo and all submodules
    rinse = !git reset --hard --recurse-submodule && \
            git submodule sync --recursive && \
            git submodule update --init --force --recursive && \
            git clean -ffdx && \
            git submodule foreach --recursive git clean -ffdx
    # search recent commits and make fixup commit
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
    # Amend COMMIT
    acommit = commit --amend --no-edit
    # Force COMMIT
    fcommit = commit --no-verify

    # self explanatory
    unstage = restore --staged
    blat = reset --hard HEAD
[core]
	editor = nvim
[include]
    # Get git user/email from another file, so when using these dotfiles on a work
    # system, it's easier to set up.
    path = ~/.gituser

# Lots of the justifications for these settings are from:
# https://blog.gitbutler.com/how-git-core-devs-configure-git
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[pull]
        rebase = true
